nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

h1 {
    margin-left: 10px;
}

.navBtn {
    padding: 15px 25px;
    margin-right: 10px;
    text-decoration: none;
    color:black;
} 